*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
}

a{
    position: relative;
    color: aqua;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    padding: 25px 30px;
    margin: 20px;
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(255, 255, 255, 0.236));
}

a:hover{
    background-color: aqua;
    color: black;
    box-shadow: 0 0 10px aqua, 0 0 25px aqua, 0 0 80px aqua, 0 0 200px aqua;
}

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0%;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, aqua);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, aqua);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, aqua);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, aqua);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}

a:nth-child(1){
    filter: hue-rotate(270deg);
}

a:nth-child(2){
    filter: hue-rotate(200deg);
}

a:nth-child(3){
    filter: hue-rotate(150deg);
}

/* /new/ */
a span:nth-child(5){
    top: 0%;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, aqua);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}
a span:nth-child(6){
    top: -100%;
    right: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, aqua);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
a span:nth-child(7){
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, aqua);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
a span:nth-child(8){
    bottom: -100%;
    left: 0%;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, aqua);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}

a:nth-child(5){
    filter: hue-rotate(270deg);
}

a:nth-child(6){
    filter: hue-rotate(200deg);
}

a:nth-child(7){
    filter: hue-rotate(150deg);
}